<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hnxlabs.csnt.ee5ceb443af">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_play_red"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_play_red_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.AppCompat"
        >

        <activity android:name="com.hnxlabs.csnt.ee5ceb443af.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.hnxlabs.csnt.ee5ceb443af.MainCarActivity" />
        <meta-data
            android:name="com.google.android.gms.car.application"
            android:resource="@xml/automotive_app_desc" />
        <!--
 Main music service, provides media browsing and media playback services to
         consumers through MediaBrowserService and MediaSession. Consumers connect to it through
         MediaBrowser (for browsing) and MediaController (for playback control)
        -->
        <service
            android:name="com.hnxlabs.csnt.ee5ceb443af.CarService"
            android:label="@string/service_name"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.google.android.gms.car.category.CATEGORY_PROJECTION" />
                <category android:name="com.google.android.gms.car.category.CATEGORY_PROJECTION_OEM" />
            </intent-filter>
        </service>
    </application>

</manifest>